#pc-9c216ef1-0b63-11f0-b769-ef035493c6c1 {
    width: 100vw;
    height: 56.249999999999999999999999999vw;
    margin-left: 0;
}



@media (min-width: 177.77777777777777777777777778vh) {
 #pc-9c216ef1-0b63-11f0-b769-ef035493c6c1 {
    width: 177.77777777777777777777777778vh;
    height: 100vh;
    margin-top: 0;
}

}

